@media (max-width: 321px){
    /* header */
    header{
      padding-inline: 8px;
    }
    /* home_section2 */
   
    .section2 {
      padding: 48px 0 48px 8px;
    }
    .section2_h2{
      font-size: 24px;
      line-height: 32px;
    
    }
    /* artwork-section  */
    .artwork_section1 {
      padding: 48px 8px;
    }
    .section1_pages {
      margin-top: 32px
    }
    .artwork_section1_title_btn {
      margin-bottom: 32px;
    }
    /* contact */
  
    .contact_section1 {
      height: 496px;
      padding-inline: 8px;
    }
    form {
      padding: 16px 20px;
    }
    h5 {
      font-size: 24px;
      line-height: 32px;
      margin-bottom: 32px;
      text-align: center;
    }
    .contact_section1_form_content {
      row-gap: 24px;
    }
    .name_email_box {
      flex-direction: column;
      row-gap: 24px;
    }
    .section1_form_button {
      width: 100%;
    }
    .contact_section2 {
      padding: 48px 8px;
    }
    h6 {
      font: 24px;
      line-height: 32px;
    }
  }