@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
.container {
    width: min(100%, 1440px);
    margin: auto;
    padding-top: 96px;
}

/* header */

header {
    height: 96px;
    background-color: #402101;
    max-width: inherit;
    width: inherit;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 26px 120px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
.header_ul {
    display: flex;
    column-gap: 60px;
}
.header_a {
    font-family: "inter", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.78px;
}
.header_a:hover {
    background-color:grey;
    color: #FFFFFF;
    border-radius: 4px;
}
.active {
    color: #d5906e;
}
.inactive {
    color: #FFFFFF;
}
.fa-bars, .fa-xmark, .fa-arrow-right-to-bracket {
    display: none;
}
.logo1 {
    font-family: "inter", sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 43.57px;
    color: #FFFFFF;
}
.logo2 {
    font-family: "inter", sans-serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 43.57px;
    color: #d5906e;
}
.header_right {
    display: flex;
    align-items: center;
    column-gap: 16px;
    height: 24px;
}
.header_span_right {
    font-family: "inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.36;
    color: #FFFFFF;
}
.header_span_right:hover {
    background-color: gray;
    border-radius: 4px;
}
.fa-bars, .fa-xmark {
    font-size: 32px;
    color: #FFFFFF;
}
.fa-arrow-right-to-bracket, .fa-cart-shopping {
    font-size: 24px;
    color: #FFFFFF;
}


/* section1 */

.section1 {
    height: 560px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../images/cover1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.section1_h2 {
    font-family: "Inter", sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    color: #FFFFFF;
    text-shadow: 4px 4px 2px #581504;
    margin-bottom: 48px;
}
.section1_button {
    width: 168px;
    height: 48px;
    border-radius: 10px;
    border: 2px solid #B53B1B;
    color: #FFFFFF;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #B53B1B;
    cursor: pointer;
}
.section1_button:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
    transform: translateY(-3px);
}

/* home_section2 */
.section2{
    background-color: #EA904F;
    padding: 120px;
  }
  .section2_h2{
    font-family: "Inter", sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    color: #FFFFFF;
    margin-bottom: 40px;
    text-align: center;
    animation-name: changecolor;
    animation-duration: 3s;
    animation-iteration-count: infinite;
  }
  @keyframes changecolor {
    from{
        color:#FFFFFF
    }
    to{
        color: #282524;
    }
  }
  .section2_cards{
    display: flex;  
    gap: 24px;
    width: 100%;
    overflow: hidden;
    position: relative;
  }
  .section2_card {
    padding: 16px;
    background-color: #FFFFFF;
    border-radius: 8px;
    transition: transform 0.5s ease;
  }
  
  .section2_card:hover {
    box-shadow: 0 10px 5px 0 #000000;
  }

  .section2_card_figcaption {
    margin-block: 16px 24px;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    color: #B53B1B;
  }
  .section2_card_img {
    width: 100%;
    height: 184px;
    object-fit: cover;
  }
  .section2_article{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  .section2_h2_cost{
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: #B53B1B;
  }
  .section2_button{
    width: 64px;
    height: 32px;
    background-color: #B53B1B;
    border-radius: 8px;
    border: none;
    font-family: "Inter", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    color: #FFFFFF;
    cursor: pointer;
  }
@media (max-width: 1300px) {
    .section2_cards {
        overflow-x: scroll;
    }
    .section2_card {
        flex: 1 0 282px;
    }
}

/* footer */

footer {
    background-color: #402101;
    padding: 80px 120px;
    display: flex;
    justify-content: space-between;
}
.footer_box_left {
    width: 160px;
}
.footer_nav_left {
    margin-bottom: 42px;
}
.footer_ul_left {
    width: 117px;
    height: 88px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer_a1 {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    color: #FFFFFF;
}
.footer_a2 {
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    color: #FFFFFF;
}
.media_box {
    display: flex;
    justify-content: space-between;
}
.footer_nav_right {
    width: 184px;
}
.footer_mail {
    margin-block: 16px;
}
.footer_span {
    margin-right: 16px;
}
.fa-phone, .fa-envelope, .fa-location-dot{
    color: #FFFFFF;
}
.footer_info {
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    color: #FFFFFF;
}

/* artwork section */

.artwork_section1 {
    background-color: #EA904F;
    padding: 120px;
}

.artwork_section1_title_btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*padding-block: 120px 72px;*/
    margin-bottom: 72px;

}

.artwork_section1_h3 {
    font-family: Inter;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    color: #FFFFFF;
}

.section1_sort_by {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 21px;
    border: 2px solid #B53B1B;
    border-radius: 5px;
    width: 160px;
    height: 45px;
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
}

.section_cards_box {
    display: flex;
    justify-content: space-between;
    column-gap: 24px;
    row-gap: 40px;
    flex-wrap: wrap;
}



.section1_article_cards {
    background-color: #FFFFFF;
    padding: 16px;
    border-radius: 8px;
    flex: 1 1 290px;
}

.artwork_section1_card_img {
    width: 100%;
}

.artwork_section1_card_title {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.36px;
    color: #B53B1B;
    margin-block: 16px 8px;

}
.section1_card_cost_button {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

}

.section1_card_cost {
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    color: #402101;

}

.section1_card_btn {
    width: 40px;
    height: 40px;
    background-color: #B53B1B;
    border-radius: 5px;
    border: none;
}

.fa-cart-plus {
    font-size: 25px;
    color: #FFFFFF;
}

.section1_pages {
    display: flex;
    justify-content: center;
    margin-top: 72px;
}

.section1_pages_list {
    background-color: transparent;
    border: 2px solid #FFFFFF;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.78px;
    color: #FFFFFF;
    width: 56px;
    height: 56px;
}

.active_btn {
    background-color: #B53B1B;
}
@media (max-width: 1158px) {
    .bolo3 {
        display: none;
    }
}

/* hover effects */
.artwork_section1_h3:hover {
    text-shadow: 0 0 10px rgb(235, 53, 53),
        0 0 10px rgb(221, 54, 54);
        transform: translateY(-8px);
    transition: .3s linear;
        cursor: pointer;
        filter: contrast(100%)
}
.section1_article_cards:hover {
    transition: .2s ease;
    -webkit-transform: translateX(-8px);
    transform: translateY(-8px);
    transition: .3s linear;
    cursor: pointer;
    filter: contrast(120%)
}

.section1_sort_by:hover {
    box-shadow: 0 0 20px rgb(221, 54, 54);;
    border: none;
    cursor: pointer;
}

.section1_pages_list:hover {
    box-shadow: 0 0 20px rgb(160, 85, 85);
    cursor: pointer;

}
.fa-cart-plus:hover {
    cursor: pointer;
    transition: .2s ease;
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    transition: .3s linear;
    cursor: pointer;
}

/* contact */

.contact_section1 {
    height: 720px;
    background-image: url(../images/contact\ cover.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-left: 222px;
    display: flex;
    align-items: center;

}

form {
    
    background-color: rgba(64, 33, 1, 0.9);
    width: 500px;
    
    padding: 24px 30px;
    border: 1px solid #FFFFFF;
    border-radius: 10px;

}


h5 {
    font-family: "Inter", sans-serif;
    font-size: 40px;
    font-weight: 400;
    line-height: 48px;
    color: #FFFFFF;
    margin-bottom: 40px;
}
.contact_section1_form_content {
    display: flex;
    flex-direction: column;
    row-gap: 36px;
}
.name_email_box {
    display: flex;
    column-gap: 60px;

}
input {
    width: 100%;
    height: 40px;
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    background-color: transparent;
}

::placeholder {
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    color: rgba(255, 255, 255, 0.76);
    padding-left: 8px;


}


textarea {
    width: 100%;
    height: 96px;
    resize: none;
    background-color: transparent;
    border: 2px solid #FFFFFF;
    border-radius: 10px;
}

.section1_form_button {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: #FFFFFF;
    border-radius: 10px;
    border: none;
    background-color: rgba(255, 84, 62, 1);
    width: 147px;
    height: 56px;
}
@media (max-width: 565px) {
    .contact_section1 {
        padding-inline: 32px;
    }
    form {
        width: 100%;
    }
}
@media (max-width: 825px) {
    .contact_section2 {
        padding-inline: 24px;
    }
    .contact_section2_contactmap {
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 40px;
    }
    .contact_section2_leftside {
        flex-direction: row;
        column-gap: 72px;
    }
    .footer_rightside_text {
        display: none;
    }
    .contact_section2_iframe {
        width: 100%;
    }
}
/* hover for contact*/
h5:hover {
    text-shadow: 5px 5px 5px rgb(216, 80, 80);
    transition: .2s ease;
    -webkit-transform: translateX(-8px);
    transform: translateY(-8px);
    transition: .3s linear;
    cursor: pointer;
    filter: contrast(120%)
}

input:hover {
    text-shadow: 5px 5px 5px rgb(92, 90, 90);
    transition: .2s ease;
    -webkit-transform: translateX(-2px);
    transform: translateY(-2px);
    transition: .3s linear;
    cursor: text;
    filter: contrast(120%)
}


textarea:hover {
    text-shadow: 5px 5px 5px rgb(92, 90, 90);
    transition: .2s ease;
    -webkit-transform: translateX(-2px);
    transform: translateY(-2px);
    transition: .3s linear;
    cursor: text;
    filter: contrast(120%)

}

.section1_form_button:hover {
    text-shadow: 5px 5px 5px rgb(75, 13, 13);
    transition: .2s ease;
    -webkit-transform: translateX(-2px);
    transform: translateY(-2px);
    transition: .3s linear;
    cursor: pointer;
    filter: contrast(120%)
}

/* contact section 2 */

.contact_section2 {
    display: flex;
    flex-direction: column;
    background-color: #EA904F;
    row-gap: 40px;
    padding-block: 120px;
    align-items: center;
}

h6 {
    text-align: center;
    font-family: Inter;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    color: #FFFFFF;
    animation-name: changecolor;
    animation-duration: 3s;
    animation-iteration-count: infinite;
  }
  @keyframes changecolor {
    from{
        color:#FFFFFF
    }
    to{
        color: #c3c0bf;
    }
}

.contact_section2_leftside_contact1 {
    display: flex;
}


.contact_section2_leftside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contact_section2_contactmap {
    display: flex;
    column-gap: 94px;
}
.contact_section2_iframe {
    width: 560px;
    height: 320px;
}

iframe {
    width: 100%;
    height: 100%;
}

.call,
.email,
.map {
    border: 2px solid #FFFFFF;
    border-radius: 8px;
    width: 48px;
    height: 48px;
    background-color: #B53B1B;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact_section2_leftside_contact {
    display: flex;
    align-items: center;
    column-gap: 14px;
}

/* contact_section2_hover */

h6:hover{
    text-shadow: 5px 5px 5px rgb(92, 90, 90);
    transition: .2s ease;
    -webkit-transform: translateX(-8px);
    transform: translateY(-8px);
    transition: .3s linear;
    cursor: pointer;
    filter: contrast(120%)
}

.call:hover,
.email:hover,
.map:hover{
    box-shadow: 0 0 5px #FFFFFF;
    transition: .2s ease;
    -webkit-transform: translateX(-8px);
    transform: translateY(-8px);
    transition: .3s linear;
    cursor: pointer;
    filter: contrast(120%)
} 
iframe:hover{
    box-shadow: 0 0 40px rgb(246, 242, 242);
    transition: .2s ease;
    -webkit-transform: translateX(-8px);
    transform: translateY(-8px);
    transition: .3s linear;
    cursor: pointer;
}
.fa-cart-shopping:hover {
    box-shadow: 0 0 10px #cf7a7a;
    transition: .3s ease;
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    transition: .3s linear;
    cursor: pointer;
    filter: contrast(120%)
}
.cookie-notification {
    background-color: #333;
    color: white;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
  }
  
  #accept-cookies {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
  }
  